<!DOCTYPE html>
<html>
  <head>
    <title>IP Block Monitor</title>
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );

        socket.on("block_notification", function (data) {
          var message = data.message;
          var logContainer = document.getElementById("log");
          var newLog = document.createElement("p");
          newLog.textContent = message;
          logContainer.appendChild(newLog);
        });
      });
    </script>
  </head>
  <body>
    <h1>IP Block Monitor</h1>
    <div id="log"></div>
  </body>
</html>
