<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'includes/styles-imports.html' %}
    <!-- Multiselect -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/rules.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Firewall Configuracion</title>
  </head>

  <body>
    {% extends 'navbar.html' %} {% block content %}
    <!-- Estructura -->
    <section class="container-form">
      <div class="tables-content">
        <div class="title-form">
          <h1 class="title">Administrador de Firewall</h1>
        </div>

        <div class="button-create">
          <button
            type="button"
            class="btn btn-success"
            id="btncreate"
            data-bs-toggle="modal"
            data-bs-target="#modalReglas"
          >
            Crear Nueva Regla
          </button>
        </div>

        <div class="table-firewall-data">
          <div class="firewall-rules in-rules">
            <!-- Mostras las reglas del ufw -->
            <div class="subtitle-tables">
              <h2>Reglas Firewall de Entrada</h2>
            </div>
            <table id="tableFirewallIn" class="table" data-locale="es-ES">
              <thead>
                <tr>
                  <th data-field="number" data-sortable="true">N° REGLA</th>
                  <th
                    data-field="name"
                    data-sortable="true"
                    style="min-width: 180px"
                  >
                    NOMBRE DE REGLA
                  </th>
                  <th
                    data-field="type_rule"
                    data-sortable="true"
                    style="min-width: 180px"
                  >
                    TIPO DE REGLA
                  </th>
                  <th data-field="created_date" data-sortable="true">
                    FECHA DE CREACION
                  </th>
                  <th data-field="domain" data-sortable="true">DATOS REGLA</th>
                  <th
                    data-field="action"
                    data-sortable="true"
                    style="min-width: 150px"
                  >
                    ACCION DE FIREWALL
                  </th>
                  <th data-field="protocol" data-sortable="true">PROTOCOLO</th>
                  <th
                    data-field="entry"
                    data-sortable="true"
                    style="min-width: 150px"
                  >
                    DIRECCION DE REGLA
                  </th>
                  <th data-field="en/dis"></th>
                  <th data-field="delete"></th>
                  <th data-field="see"></th>
                </tr>
              </thead>
              <tbody>
                {% if reglas_in %} {% for regla in reglas_in %}
                <tr>
                  <td class="numero">{{ loop.index }}</td>
                  <td class="nombre">{{ regla['nombre'] }}</td>
                  <td class="tipo_regla">{{ regla['tipo_regla'] }}</td>
                  <td class="fecha_creacion">{{ regla['fecha_creacion'] }}</td>
                  <td class="dominio">{{ regla['dominio'] }}</td>
                  <td class="accion">{{ regla['accion'] }}</td>
                  <td class="protocolo">{{ regla['protocolo'] }}</td>
                  <td class="entrada">{{ regla['entrada'] }}</td>
                  <td>
                    <a
                      id="btn-{{ regla['id_regla'] }}"
                      href="#"
                      class="btn {{ 'btn-success' if regla['estado'] == 1 else 'btn-secondary' }}"
                    >
                      {{ 'Desactivar' if regla['estado'] == 1 else 'Activar' }}
                    </a>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      id="btn-delete-rule"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmarEliminar"
                      data-regla-id="{{ regla['id_regla'] }}"
                    >
                      Eliminar Regla
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      id="editarReglaBtn"
                      data-bs-toggle="modal"
                      data-bs-target="#editarRegla"
                      data-regla-id="{{ regla['id_regla'] }}"
                      data-regla-nombre="{{ regla['nombre'] }}"
                      data-regla-fila-in="{{ loop.index }}"
                    >
                      Visualizar Regla
                    </button>
                  </td>
                </tr>
                {% endfor %} {% endif %}
              </tbody>
            </table>
          </div>

          <div class="firewall-rules out-rules">
            <!-- Mostras las reglas del ufw -->
            <div class="subtitle-tables">
              <h2>Reglas Firewall de Salida</h2>
            </div>
            <table id="tableFirewallOut" class="table" data-locale="es-ES">
              <thead>
                <tr>
                  <th data-field="number" data-sortable="true">N° REGLA</th>
                  <th
                    data-field="name"
                    data-sortable="true"
                    style="min-width: 180px"
                  >
                    NOMBRE DE REGLA
                  </th>
                  <th
                    data-field="type_rule"
                    data-sortable="true"
                    style="min-width: 180px"
                  >
                    TIPO DE REGLA
                  </th>
                  <th data-field="created_date" data-sortable="true">
                    FECHA DE CREACION
                  </th>
                  <th data-field="domain" data-sortable="true">DATOS REGLA</th>
                  <th
                    data-field="action"
                    data-sortable="true"
                    style="min-width: 150px"
                  >
                    ACCION DE FIREWALL
                  </th>
                  <th data-field="protocol" data-sortable="true">PROTOCOLO</th>
                  <th
                    data-field="entry"
                    data-sortable="true"
                    style="min-width: 150px"
                  >
                    DIRECCION DE REGLA
                  </th>
                  <th data-field="en/dis"></th>
                  <th data-field="delete"></th>
                  <th data-field="see"></th>
                </tr>
              </thead>
              <tbody>
                {% for regla in reglas_out %}
                <tr class="regla-row">
                  <td class="numero">{{ loop.index }}</td>
                  <td class="nombre">{{ regla['nombre'] }}</td>
                  <td class="tipo_regla">{{ regla['tipo_regla'] }}</td>
                  <td class="fecha_creacion">{{ regla['fecha_creacion'] }}</td>
                  <td class="dominio">
                    <span class="dominio2">{{ regla['dominio'] }}</span>
                  </td>
                  <td class="accion">{{ regla['accion'] }}</td>
                  <td class="protocolo">{{ regla['protocolo'] }}</td>
                  <td class="entrada">{{ regla['entrada'] }}</td>
                  <td>
                    <button
                      id="btn-regla-{{ regla['id_regla'] }}"
                      class="btn {{ 'btn-success' if regla['estado'] == 1 else 'btn-secondary' }}"
                    >
                      {{ 'Desactivar' if regla['estado'] == 1 else 'Activar' }}
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      id="btn-delete-rule"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmarEliminar"
                      data-regla-id="{{ regla['id_regla'] }}"
                    >
                      Eliminar Regla
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      id="editarReglaBtn"
                      data-bs-toggle="modal"
                      data-bs-target="#editarRegla"
                      data-regla-id="{{ regla['id_regla'] }}"
                      data-regla-nombre="{{ regla['nombre'] }}"
                      data-regla-fila-out="{{ loop.index }}"
                    >
                      Visualizar Regla
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="firewall-rules default-rules">
            <!-- Mostras las reglas del ufw -->
            <div class="subtitle-tables">
              <h2>Reglas de Firewall Predefinidas</h2>
            </div>
            <table id="tableFirewallDefault" class="table" data-locale="es-ES">
              <thead>
                <tr>
                  <th data-field="number">N° REGLA</th>
                  <th data-field="name">NOMBRE DE REGLA</th>
                  <th data-field="type_rule">TIPO DE REGLA</th>
                  <th data-field="data_rule">DATOS REGLA</th>
                  <th data-field="action">ACCION DE FIREWALL</th>
                  <th data-field="protocol">PROTOCOLO</th>
                  <th data-field="entry">DIRECCION DE REGLA</th>
                </tr>
              </thead>
              <tbody>
                {% for regla in reglas_default %}
                <tr class="regla-row">
                  <td class="numero">{{ loop.index }}</td>
                  <td class="nombre">{{ regla['nombre'] }}</td>
                  <td class="tipo_regla">{{ regla['tipo_regla'] }}</td>
                  <td class="domain">{{ regla['rule_data'] }}</td>
                  <td class="accion">{{ regla['accion'] }}</td>
                  <td class="protocolo">{{ regla['protocolo'] }}</td>
                  <td class="entrada">{{ regla['entrada'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Modal Editar Regla -->
      <div
        class="modal fade"
        id="editarRegla"
        tabindex="-1"
        aria-labelledby="editarReglaLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editarReglaLabel">
                Visualizar Regla
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Cerrar"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-ssh">
                <div class="subtitle">
                  <h2>Regla</h2>
                </div>
                <div class="form-wrap">
                  <form class="form-content" id="editFormFirewall">
                    <div class="rule-name">
                      <div class="form-group">
                        <label
                          id="editComment"
                          class="form-control"
                          disabled
                        ></label>
                      </div>
                    </div>

                    <div class="form-inputs">
                      <div class="form1">
                        <div class="form-group">
                          <label for="fromto">Dirección de la Regla</label>
                          <input
                            type="text"
                            class="form-control"
                            id="editEntry"
                          />
                        </div>

                        <div class="form-group" id="ipContainerEdit">
                          <label for="ipaddr">Direccion IP</label>
                          <input
                            type="text"
                            class="form-control"
                            id="editaripaddr"
                          />
                        </div>
                      </div>

                      <div class="form2">
                        <div class="form-group">
                          <label for="selectProtocol">Protocolo</label>
                          <input
                            type="text"
                            class="form-control"
                            id="editProtocol"
                          />
                        </div>

                        <div class="form-group">
                          <label for="inputPort">Puerto</label>
                          <input
                            type="text"
                            class="form-control"
                            id="editport"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="domain">Nombre de Dominio</label>
                      <textarea
                        class="form-control txta"
                        name="domainEdit"
                        id="editDomain"
                      ></textarea>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Eliminar Regla -->
      <div
        class="modal fade"
        id="confirmarEliminar"
        tabindex="-1"
        aria-labelledby="confirmacionModalLabel"
        aria-hidden="true"
      >
        <input
          type="hidden"
          name="rule_id"
          id="rule_id"
          value="{{ rule_id }}"
        />
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmacionModalLabel">
                Confirmar Eliminación
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Cerrar"
              ></button>
            </div>
            <div class="modal-body">
              <span id="confirmDelete"
                >¿Estás seguro de que deseas eliminar la regla?</span
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button class="btn btn-danger" id="deleteRuleConfirm">
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Crear Regla -->
      <div
        class="modal fade"
        id="modalReglas"
        tabindex="-1"
        aria-labelledby="modalReglasLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalReglasLabel">
                Crear Nueva Regla
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-ssh">
                <div class="subtitle">
                  <h2>Regla</h2>
                </div>

                <div class="form-wrap">
                  <form class="form-content" id="formFirewall">
                    <input
                      type="hidden"
                      name="csrf_token"
                      value="{{ csrf_token() }}"
                    />

                    <div class="rule-name">
                      <div class="form-group">
                        <label for="comment">Nombre de la Regla</label>
                        <input
                          id="comment"
                          class="form-control"
                          name="comment"
                          placeholder="Ingrese el nombre de la regla"
                          oninput="formatoNombreRegla(this)"
                        />
                      </div>

                      <div class="form-group">
                        <label for="regla">Tipo de regla</label>
                        <select
                          class="form-select"
                          name="regla"
                          id="formSelectRegla"
                        >
                          <option value="" selected disabled>
                            Seleccionar...
                          </option>
                          <option value="direccion ip">Direcciones IP</option>
                          <option value="puerto">Puertos</option>
                          <option value="direccion ip y puerto">
                            Direcciones IP y Puertos
                          </option>
                          <option value="dominio">Dominio</option>
                          <option value="contenido">Contenido</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="regla">Accion de la regla</label>
                        <select
                          class="form-select"
                          name="action_rule"
                          id="formSelectAction"
                        >
                          <option value="" selected disabled>
                            Seleccionar...
                          </option>
                          <option value="allow">Permitir</option>
                          <option value="reject">Denegar</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="selectEntry">Dirección de la Regla</label>
                        <select
                          class="form-select"
                          name="entry"
                          id="selectEntry"
                        >
                          <option value="" selected>Seleccionar...</option>
                          <option value="in">Entrada</option>
                          <option value="out">Salida</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-inputs">
                      <div class="form1">
                        <div class="form-group" id="ipContainer">
                          <label for="ipaddr">Direccion IP</label>
                          <input
                            type="text"
                            class="form-control"
                            name="ip_addr"
                            id="ipaddr"
                            placeholder="0.0.0.0"
                            minlength="7"
                            maxlength="15"
                            oninput="formatoDireccionIP(this)"
                          />
                        </div>

                        <div class="form-group" id="domainContainer">
                          <label for="ipaddr">Nombre de Dominio</label>
                          <input
                            type="text"
                            class="form-control"
                            name="domain"
                            id="domain"
                            placeholder="example.com"
                          />
                        </div>

                        <div class="form-group" id="contentContainer">
                          <label for="selectProtocolRed"
                            >Contenido de red</label
                          >
                          <!-- En caso de querer seleccionar varios incluir multiple en el select -->
                          <select
                            class="selectpicker"
                            name="contentOption"
                            id="content"
                            aria-label="Seleccione Contenido"
                            data-none-selected-text="Seleccione Contenido"
                            data-live-search="true"
                          >
                            <option value="redes_sociales">
                              Redes Sociales
                            </option>
                            <option value="videojuegos">Videojuegos</option>
                            <option value="musica">Musica</option>
                            <option value="streaming">Streaming</option>
                            <option value="lectura">Lectura</option>
                            <option value="video">Video</option>
                            <option value="mensajeria">Mensajeria</option>
                            <option value="podcast">Podcast</option>
                            <option value="mailing">Mailing</option>
                            <option value="imagenes">Imagenes</option>
                            <option value="ecommerce">Ecommerce</option>
                            <option value="blogging">Blogs</option>
                            <option value="crm">CRM</option>
                            <option value="pagos">Pagos</option>
                            <option value="apuestas">Apuestas</option>
                            <option value="publicidad_digital">
                              Publicidad Digital
                            </option>
                            <option value="redes_profesionales">
                              Redes Profesionales
                            </option>
                            <option value="videoconferencias">
                              Videoconferencias
                            </option>
                            <option value="educacion">Educacion</option>
                            <option value="trabajo_colaborativo">
                              Trabajo colaborativo
                            </option>
                          </select>
                        </div>

                        <div class="form-group" id="portContainer">
                          <label for="inputPort">Puerto</label>
                          <input
                            type="text"
                            class="form-control"
                            name="port"
                            id="port"
                            minlength="2"
                            maxlength="7"
                            oninput="formatoPuerto(this)"
                          />
                        </div>

                        <div class="form-group" id="protocolContainer">
                          <label for="selectProtocol">Protocolo</label>
                          <select
                            class="form-select"
                            name="protocol"
                            id="selectProtocol"
                          >
                            <option value="" selected disabled>
                              Seleccionar...
                            </option>
                            <option value="tcp">TCP</option>
                            <option value="udp">UDP</option>
                            <option value="tcp/udp">TCP/UDP</option>
                          </select>
                        </div>
                      </div>

                      <div class="form2" style="display: none">
                        <div class="form-group" id="rangePortContainer">
                          <label for="rangePorts" id="puertos"
                            >Establecer Rango de Puertos</label
                          >
                          <select
                            class="form-select"
                            name="rangePorts"
                            id="selectPortRange"
                          >
                            <option value="" selected disabled>
                              Seleccionar...
                            </option>
                            <option value="yes">Si</option>
                            <option value="no">No</option>
                          </select>
                        </div>

                        <div class="form-group" id="initPortContainer">
                          <label for="inputPort" id="puertoEntrada"
                            >Puerto Inicial</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="portStart"
                            id="portStart"
                            minlength="2"
                            maxlength="7"
                            oninput="formatoPuerto(this)"
                          />
                        </div>

                        <div class="form-group" id="endPortContainer">
                          <label for="inputPort" id="puertoSalida"
                            >Puerto Final</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="portLimit"
                            id="portEnd"
                            minlength="2"
                            maxlength="7"
                            oninput="formatoPuerto(this)"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="form-group" id="footerBtn">
                      <button
                        type="button"
                        id="btnCancelar"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cerrar
                      </button>
                      <button
                        type="submit"
                        id="btnSave"
                        class="btn btn-primary"
                      >
                        Crear Regla
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
                <div
                  id="liveToast"
                  class="toast hide"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="toast-header">
                    <img
                      src="../static/img/alert_message.png"
                      class="rounded me-2"
                      alt="..."
                    />
                    <strong class="me-auto">Campo Requerido</strong>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="toast"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="toast-body"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Alerts Message -->
      <div class="alert-message-container">
        <div class="alert-box" style="float: none; margin: 0 auto">
          <div class="alert">
            <div class="alert-icon text-center">
              <i class="fas fa-check-circle fa-3x"></i>
            </div>
            <div class="alert-message text-center"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Multiselect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    {% include 'includes/js-imports.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="{{ url_for('static', filename='js/data-input.js') }}"></script>

    {% endblock %}
  </body>
</html>
