<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'includes/styles-imports.html' %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/firewall-automation.css') }}"
    />
    <title>Automatizacion de firewall</title>
  </head>
  <body>
    {% extends 'navbar.html' %} {% block content %}

    <section class="automation-form-table">
      <div id="loading-overlay">
        <div id="loading-spinner">
          <i class="fas fa-spinner fa-spin"></i>
          <p>Cargando...</p>
        </div>
      </div>

      <div class="title-automation">
        <h1>Automatizacion de firewall</h1>
      </div>
      <div class="container-automation">
        <div class="form-automation">
          <div class="container-ssh">
            <form class="form-content" id="form-automation">
              <input
                type="hidden"
                name="csrf_token"
                id="csrf_token"
                value="{{ csrf_token() }}"
              />

              <div class="top-row">
                <div class="form-group">
                  <label for="automation-name"
                    >Nombre de la automatizacion</label
                  >
                  <input
                    class="form-control"
                    id="automation-name"
                    name="automationName"
                    placeholder="Nombre de la automatizacion"
                  />
                  <!-- oninput="formatoNombreRegla(this)" -->
                </div>

                <div class="form-group" id="community-list">
                  <label for="ip-local">Comunidades</label>
                  <select
                    class="selectpicker"
                    id="community"
                    name="community"
                    aria-label="community"
                    data-none-selected-text="Seleccione una comunidad"
                    data-live-search="true"
                  >
                    <option value="" disabled selected hidden>
                      Seleccione una opción
                    </option>
                    {% for comunidad in comunidades %}
                    <option value="{{ comunidad[0] }}">
                      {{ comunidad[1] }}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label for="ip-local">Tipo de restriccion</label>
                  <select
                    class="selectpicker"
                    id="automation-type"
                    name="automationType"
                    aria-label="community"
                    data-none-selected-text="Seleccione una comunidad"
                  >
                    <option value="" selected disabled>Seleccionar tipo</option>
                    <option value="contenido">Contenido</option>
                    <option value="dominio">Dominios</option>
                  </select>
                </div>
              </div>

              <div class="top-row">
                <!-- <div class="form-group">
                  <label for="selectFilterType">Accion a realizar</label>
                  <select
                    class="form-select"
                    id="automation-action"
                    name="automationAction"
                  >
                    <option value="" selected disabled>Seleccionar...</option>
                    <option value="allow">Permitir</option>
                    <option value="reject">Bloquear</option>
                  </select>
                </div> -->

                <div class="form-group">
                  <label for="domain">Dominio</label>
                  <input
                    type="text"
                    class="form-control ips"
                    data-role="tagsinput"
                    id="domain"
                    name="domain"
                  />
                </div>

                <div class="form-group">
                  <label for="ip-local">Contenidos</label>
                  <select
                    class="selectpicker"
                    id="content-type"
                    name="contentType"
                    aria-label="content-type"
                    data-none-selected-text="Seleccione tipo de contenido"
                    data-live-search="true"
                  >
                    <option value="" disabled selected hidden>
                      Seleccione una opción
                    </option>
                    {% for plataforma_key in plataformas[1] %} {% set index =
                    loop.index - 1 %}
                    <option value="{{ plataformas[1][index] }}">
                      {{ plataformas[0][index] }}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label for="segundo-select">Dominios de Plataforma</label>
                  <select
                    class="selectpicker"
                    multiple
                    id="domain-plataform"
                    name="domainPlataform"
                    aria-label="segundo-select"
                    data-none-selected-text="Seleccione un valor"
                    data-live-search="true"
                  ></select>
                </div>

                <div id="new-domain-input" class="form-group floating-input">
                  <label for="new-domain">Nuevo Dominio:</label>
                  <input
                    type="text"
                    id="new-domain"
                    class="form-control"
                    placeholder="Ingrese el nuevo dominio"
                  />
                  <button id="add-domain-btn" class="btn btn-primary mt-2">
                    Añadir
                  </button>
                </div>
              </div>

              <div class="top-row">
                <div class="form-group">
                  <label for="daypicker">Dias a aplicar la restriccion</label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="daypicker"
                      class="form-control"
                      readonly
                    />
                    <div class="input-group-append" id="icon-day">
                      <span class="input-group-text">
                        <i class="fa fa-calendar" id="daypickerIcon"></i>
                      </span>
                    </div>
                  </div>
                  <div class="days-popup weekDays-selector" id="daysPopup">
                    <input type="checkbox" id="weekday-mon" class="weekday" />
                    <label for="weekday-mon">Lunes</label>
                    <input type="checkbox" id="weekday-tue" class="weekday" />
                    <label for="weekday-tue">Martes</label>
                    <input type="checkbox" id="weekday-wed" class="weekday" />
                    <label for="weekday-wed">Miercoles</label>
                    <input type="checkbox" id="weekday-thu" class="weekday" />
                    <label for="weekday-thu">Jueves</label>
                    <input type="checkbox" id="weekday-fri" class="weekday" />
                    <label for="weekday-fri">Viernes</label>
                    <input type="checkbox" id="weekday-sat" class="weekday" />
                    <label for="weekday-sat">Sabado</label>
                    <input type="checkbox" id="weekday-sun" class="weekday" />
                    <label for="weekday-sun">Domingo</label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="timepicker">Horas y minutos de inicio</label>
                  <div id="timepicker" class="input-group timepicker">
                    <input
                      type="text"
                      class="form-control"
                      id="initial-time"
                      readonly
                    />
                    <div class="input-group-append input-group-addon">
                      <span class="input-group-text">
                        <i class="fa fa-clock" id="timepickerIcon"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="timepicker"
                    >Horas y minutos de finalizacion</label
                  >
                  <div id="timepicker" class="input-group timepicker">
                    <input
                      type="text"
                      class="form-control"
                      id="final-time"
                      readonly
                    />
                    <div class="input-group-append input-group-addon">
                      <span class="input-group-text">
                        <i class="fa fa-clock" id="timepickerIcon"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="top-row">
                <div class="form-group">
                  <button
                    type="submit"
                    id="btn-create-automation"
                    class="btn btn-primary"
                  >
                    Crear Automatizacion
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="table">
          <div class="subtitle-tables">
            <h2>Automatizaciones establecidas</h2>
          </div>
          <table
            id="automation-table"
            class="table"
            data-locale="es-ES"
            data-show-columns="true"
            data-locale="es-ES"
          >
            <thead>
              <tr>
                <th data-field="number" data-sortable="true">N° Registro</th>
                <th data-field="name" data-sortable="true">
                  Nombre de la Automatizacion
                </th>
                <th data-field="type" data-sortable="true">
                  Tipo de Automatizacion
                </th>
                <th data-field="created_date" data-sortable="true">
                  Fecha de Creacion
                </th>
                <th data-field="schedule" data-sortable="true">
                  Horario de restriccion
                </th>
                <th data-field="restriction_type" data-sortable="true">
                  Acceso restringido
                </th>
                <th data-field="community" data-sortable="true">
                  Comunidad restriccion
                </th>
                <th data-field="en/dis"></th>
                <th data-field="delete"></th>
              </tr>
            </thead>
            <tbody>
              {% for automatizacion in automatizaciones %}
              <tr>
                <td class="numero">{{ loop.index }}</td>
                <td class="nombre">{{ automatizacion[1] }}</td>
                <td class="tipo">{{ automatizacion[2] }}</td>
                <td class="fecha_creacion">{{ automatizacion[7] }}</td>
                <td class="horario">{{ automatizacion[3] }}</td>
                <td class="tipo_restriccion">{{ automatizacion[4] }}</td>
                <td class="comunidad">{{ automatizacion[10] }}</td>
                <td>
                  <button
                    id="btn-automatizacion-{{ automatizacion[0] }}"
                    class="btn {{ 'btn-success' if automatizacion[6] == 1 else 'btn-secondary' }}"
                  >
                    {{ 'Desactivar' if automatizacion[6] == 1 else 'Activar' }}
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    id="btn-delete-automation"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmarEliminar{{ automatizacion[0] }}"
                  >
                    Eliminar Automatizacion
                  </button>

                  <!-- Modal Eliminar Filtro -->
                  <div
                    class="modal fade"
                    id="confirmarEliminar{{ automatizacion[0] }}"
                    tabindex="-1"
                    aria-labelledby="confirmacionModalLabel"
                    aria-hidden="true"
                  >
                    <input
                      type="hidden"
                      name="filter_number"
                      value="{{ automatizacion[0] }}"
                    />
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirmacionModalLabel">
                            Confirmar Eliminación
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Cerrar"
                          ></button>
                        </div>
                        <div class="modal-body">
                          ¿Estás seguro de que deseas eliminar la
                          automatizacion?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>

                          <button
                            class="btn btn-danger"
                            id="delete-automatizacion-{{ automatizacion[0] }}"
                          >
                            Eliminar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Toast -->
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
        <div
          id="liveToast"
          class="toast hide"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <img
              src="../static/img/alert_message.png"
              class="rounded me-2"
              alt="..."
            />
            <strong class="me-auto">Campo Requerido</strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body"></div>
        </div>
      </div>

      <!-- Alerts Message -->
      <div class="alert-message-container">
        <div class="alert-box" style="float: none; margin: 0 auto">
          <div class="alert alert-success">
            <div class="alert-icon text-center">
              <i class="fas fa-check-circle fa-3x text-success"></i>
            </div>
            <div class="alert-message text-center"></div>
          </div>
        </div>
      </div>

      <div class="alert-message-container">
        <div class="alert-box" style="float: none; margin: 0 auto">
          <div class="alert alert-success">
            <div class="alert-icon text-center">
              <i class="fas fa-check-circle fa-3x text-success"></i>
            </div>
            <div class="alert-message text-center">
              {% if request.args.get('response') %} {{
              request.args.get('response') }} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% include 'includes/js-imports.html' %}
    <script src="{{ url_for('static', filename='js/firewall-automation.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    {% endblock %}
  </body>
</html>
