<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home-page.css') }}"
    />
    {% include 'includes/styles-imports.html' %}
    <title>Inicio</title>
  </head>

  <body>
    {% extends 'navbar.html' %} {% block content %}

    <section class="home-container">
      <div class="container-menu">
        <article class="card">
          <div class="background">
            <img
              src="../static/img/reglas_firewall.jpg"
              alt="reglas-firewall"
            />
          </div>
          <div class="content">
            <h2>Configuracion de Reglas</h2>
            <p>
              Gestionar que tipo de trafico puede entrar o salir al servidor.
            </p>
            <p>Acciones sobre las reglas:</p>
            <ul class="actions">
              <li class="action">Crear</li>
              <li class="action">Eliminar</li>
              <li class="action">Visualizar</li>
            </ul>
            <div class="action-btn">
              <a href="/ufw_manager" title="Configurar Reglas de Firewall">
                Configurar Reglas Firewall
              </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img
              src="../static/img/reglas_contenido.jpg"
              alt="monitoreo-trafico"
            />
          </div>
          <div class="content">
            <h2>Reglas por contenido</h2>
            <p>
              Gestiona las reglas del firewall según el contenido, añadiendo o
              eliminando reglas específicas.
            </p>
            <p>Acciones sobre las reglas de contenido:</p>
            <ul class="actions">
              <li class="action">Agregar</li>
              <li class="action">Eliminar</li>
              <li class="action">Visualizar</li>
            </ul>
            <div class="action-btn">
              <a
                href="/rules-content-manager"
                title="Configurar Reglas por Contenido"
              >
                Configurar Reglas por Contenido
              </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img src="../static/img/trafico_red.jpg" alt="monitoreo-trafico" />
          </div>
          <div class="content">
            <h2>Monitoreo de Trafico de Red</h2>
            <p>
              Supervisar y analizar el flujo de datos en la red, e identificar
              posibles problemas que afecten al rendimiento óptimo.
            </p>
            <p>Acciones sobre los paquetes:</p>
            <ul class="actions">
              <li class="action">Reportes</li>
              <li class="action">Seguimiento</li>
            </ul>
            <div class="action-btn">
              <a href="/traffic-filter" title="Monitoreo de Trafico de Red">
                Monitoreo de Trafico de Red
              </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img src="../static/img/comunidades.jpg" alt="manejo-comunidades" />
          </div>
          <div class="content">
            <h2>Crear y Asignar Comunidades</h2>
            <p>
              Administra las reglas del firewall adaptadas a diferentes tipos de
              comunidad.
            </p>
            <p>Acciones sobre las reglas según la comunidad:</p>
            <ul class="actions">
              <li class="action">Agregar</li>
              <li class="action">Eliminar</li>
              <li class="action">Visualizar</li>
            </ul>
            <div class="action-btn">
              <a href="/community_management" title="Configurar comunidades">
                Configurar comunidades
              </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img
              src="../static/img/automatizacion-servicios.jpg"
              alt="automatizar-servicios"
            />
          </div>
          <div class="content">
            <h2>Automatizar restricciones de servicios</h2>
            <p>
              Optimiza la administración de las restricciones de los servicios
              basados en el servidor.
            </p>
            <p>Acciones disponibles para la automatizacion:</p>
            <ul class="actions">
              <li class="action">Agregar</li>
              <li class="action">Eliminar</li>
              <li class="action">Visualizar</li>
            </ul>
            <div class="action-btn">
              <a href="/service_automation" title="Configurar servicios">
                Configurar automatizacion de servicios
              </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img
              src="../static/img/automatizacion.jpg"
              alt="automatizar-firewall"
            />
          </div>
          <div class="content">
            <h2>Automatizar restricciones</h2>
            <p>
              Mejora la gestión de tus restricciones personalizando los tiempos
              y horarios de bloqueo para cada restriccion aplicada.
            </p>
            <p>Acciones sobre la automatizacion:</p>
            <ul class="actions">
              <li class="action">Agregar</li>
              <li class="action">Eliminar</li>
              <li class="action">Visualizar</li>
            </ul>
            <div class="action-btn">
              <a href="/firewall_automation" title="Configurar automatizacion">
                Configurar automatizacion
              </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img src="../static/img/vpnserver.jpg" alt="servidor-vpn" />
          </div>
          <div class="content">
            <h2>Configurar servidor VPN</h2>
            <p>
              Mejora la seguridad de tu red y permite el acceso remoto seguro a
              tus recursos mediante la configuración de un servidor VPN.
            </p>
            <p>Acciones sobre la VPN</p>
            <ul class="actions">
              <li class="action">Servidor VPN</li>
              <li class="action">Clientes VPN</li>
            </ul>
            <div class="action-btn">
              <a href="/server-vpn" title="Configurar VPN"> Configurar VPN </a>
            </div>
          </div>
        </article>

        <article class="card">
          <div class="background">
            <img src="../static/img/user-manual.jpg" alt="manual-usuario" />
          </div>
          <div class="content">
            <h2>Manual de Usuario</h2>
            <p>
              Proporciona una guía detallada sobre el uso del sistema, con
              instrucciones paso a paso y explicaciones útiles para maximizar su
              utilidad.
            </p>
            <p>En el Manual de Usuario, encontrarás:</p>
            <ul class="actions">
              <li class="action">Informacion</li>
              <li class="action">Configuracion</li>
            </ul>
            <div class="action-btn">
              <a href="/user-manual-firewall" title="Manual de Usuario">
                Manual de Usuario
              </a>
            </div>
          </div>
        </article>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    {% include 'includes/js-imports.html' %} {% endblock %}
  </body>
</html>
