<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    {% include 'includes/styles-imports.html' %}
  </head>

  <body>
    <div id="loading-overlay">
      <div id="loading-spinner">
        <i class="fas fa-spinner fa-spin"></i>
        <p>Cargando...</p>
      </div>
    </div>

    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <div class="collapse" id="navbarSupportedContent">
        <div class="title-header">
          <div class="title-firewall">
            <span class="navbar-brand navbar-logo">Administrador Firewall</span>
          </div>
          <div class="menu-items navbar-collapse menu">
            <ul class="navbar-nav ml-auto">
              <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
              </div>
              <li class="nav-item active">
                <a class="nav-link" href="/home"
                  ><i class="fas fa-shield-alt"></i> Menu de Firewall</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="actions-firewall">
          <ul class="notif-signout">
            <li class="action-item">
              <div class="dropdown-container">
                <div class="hamburger-menu-notification">
                  <div class="notification menu-link has-notifications circle">
                    <i class="fa-solid fa-bell notification-icon"></i>
                    <i class="fa-regular fa-bell notification-icon active"></i>
                    <span class="notification-count">0</span>
                  </div>

                  <button
                    class="navbar-toggler"
                    type="button"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="fas fa-bars text-white"></i>
                  </button>
                </div>

                <ul class="dropdown" name="notificationMenu">
                  <li class="notification-group">
                    <div class="notification-tab">
                      <i class="fa fa-flag"></i>
                      <h4>Notificaciones</h4>
                      <span class="label">0</span>
                    </div>
                    <ul class="notification-list"></ul>
                    <div class="notification-footer">
                      <div class="icon-content" id="settingsIcon">
                        <i class="fa-solid fa-gear"></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="action-item">
              <div class="navbar-btn navbar-collapse menu">
                <button
                  class="btn btn-outline-success btn-signout"
                  type="button"
                  onclick="logout()"
                >
                  <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="collapse menu-collapse" id="navbarSupportedContent">
        <div class="menu-items navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <li class="nav-item active">
              <a class="nav-link" href="/home"
                ><i class="fas fa-shield-alt"></i> Menu de Firewall</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0);"
                ><i class="fas fa-shield-alt"></i> Menu de Firewall</a
              >
            </li>
            <li class="action-item">
              <div class="navbar-btn navbar-collapse">
                <button
                  class="btn btn-outline-success"
                  type="button"
                  onclick="logout()"
                >
                  <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="modal fade"
      id="modalSettings"
      tabindex="-1"
      aria-labelledby="settingsLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered nav-modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingsLabel">Configuración</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body nav-modal-body d-flex">
            <!-- Menú Lateral -->
            <div class="menu-lateral me-3">
              <a href="#" class="configuracion" data-form-id="formCorreo"
                >Configurar envío de notificaciones por correo electrónico</a
              >
              <a href="#" class="configuracion" data-form-id="formRed"
                >Configurar Red</a
              >
            </div>
            <!-- Área de Contenido -->
            <div class="content-area flex-grow-1">
              <!-- Formulario de Correo -->
              <div id="formCorreo" class="formulario">
                <h2>Configurar Correo</h2>
                <form class="form-contenido-menu-modal" id="form-notification">
                  <input
                    type="hidden"
                    name="csrf_token"
                    id="csrf_token"
                    value="{{ csrf_token() }}"
                  />
                  <div class="form-group">
                    <label for="email-server" class="form-label"
                      >Servidor de correo:</label
                    >
                    <select
                      class="selectpicker w-100"
                      name="emailServer"
                      id="email-server"
                      aria-label="Seleccione el servidor de correo"
                      data-none-selected-text="Seleccione el servidor de correo"
                    >
                      <option value="" selected disabled>Seleccionar...</option>
                      <option value="gmail">GMAIL</option>
                      <option value="office">OFFICE365</option>
                      <option value="yahoo">YAHOO</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email-sender" class="form-label"
                      >Direccion de Correo</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="emailSender"
                      id="email-sender"
                      placeholder="Correo electronico que enviara la notificacion"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email-password" class="form-label">
                      Clave generada
                      <i
                        class="fa-solid fa-question-circle"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Ir a Administrar cuenta de Google > Seguridad > Verificación en dos pasos > Contraseñas de aplicaciones"
                      ></i>
                    </label>
                    <input
                      type="password"
                      class="form-control"
                      name="emailPassword"
                      id="email-password"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email-receiver" class="form-label"
                      >Direccion de Correo de Destino</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="emailReceiver"
                      id="email-receiver"
                      placeholder="Correo electronico a donde llegaran las notificaciones"
                    />
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-primary btn-save-data"
                      id="btn-guardar"
                    >
                      <i class="fas fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-primary" id="btn-editar">
                      <i class="fa-solid fa-pen"></i> Editar
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      id="btn-eliminar"
                    >
                      <i class="fa-solid fa-trash"></i> Eliminar
                    </button>
                    <button class="btn btn-secondary" id="btn-cancelar">
                      <i class="fa-solid fa-xmark"></i> Cancelar
                    </button>
                  </div>
                </form>
              </div>
              <!-- Formulario de Red -->
              <div id="formRed" class="formulario">
                <h2>Configurar Red</h2>
                <form>
                  <div class="form-group">
                    <label for="networkName" class="form-label"
                      >Nombre de la Red</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="networkName"
                      placeholder="Red Ejemplo"
                    />
                  </div>
                  <div class="form-group">
                    <label for="networkType" class="form-label"
                      >Tipo de Red</label
                    >
                    <select class="form-control" id="networkType">
                      <option value="" selected disabled>Seleccionar...</option>
                      <option value="public">Pública</option>
                      <option value="private">Privada</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary btn-save-record">
                    Guardar
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
          <div
            id="liveToast"
            class="toast hide"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <img
                src="../static/img/alert_message.png"
                class="rounded me-2"
                alt="..."
              />
              <strong class="me-auto">Campo Requerido</strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
            <div class="toast-body"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal eliminar configuracion -->
    <div
      class="modal fade"
      id="confirmar-eliminar"
      tabindex="-1"
      aria-labelledby="confirmacionModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmacionModalLabel">
              Confirmar Eliminación
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body nav-modal-body">
            ¿Estás seguro de que deseas eliminar la configuracion actual?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>

            <button class="btn btn-danger" id="eliminar-configuracion">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Alerts Message -->
    <div class="alert-message-container">
      <div class="alert-box" style="float: none; margin: 0 auto">
        <div class="alert">
          <div class="alert-icon text-center">
            <i class="fas fa-check-circle fa-3x"></i>
          </div>
          <div class="alert-message text-center"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid content-body">
      {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    {% include 'includes/js-imports.html' %}
  </body>
</html>
