<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'includes/styles-imports.html' %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/rules-content.css') }}"
    />
    <title>Configurar reglas por contenido</title>
  </head>

  <body>
    {% extends 'navbar.html' %} {% block content %}

    <section class="content-rules">
      <div class="tables-contents">
        <div class="container-title">
          <h1 class="title-content">Configurar Reglas por Contenido</h1>
        </div>

        <div class="container-accordion">
          <div id="accordion" class="py-5">
            {% if reglas_contenido %} {% for contenido, reglas in
            reglas_contenido.items() %}
            <div class="card border-0">
              <div
                class="card-header p-0 border-0"
                id="heading{{ loop.index }}"
              >
                <button
                  class="btn btn-link accordion-title border-0 collapse d-flex justify-content-between align-items-center"
                  id="btn-collapse{{ loop.index }}"
                  data-toggle="collapse"
                  data-target="#collapse{{ loop.index }}"
                  aria-expanded="false"
                  aria-controls="#collapse{{ loop.index }}"
                >
                  <div class="title-accordion-content">
                    <div class="content-list-details">
                      <div id="content_name">
                        <span>{{ contenido[0] }}</span>
                      </div>

                      {% if contenido[3] %}
                      <div class="detail" id="status">
                        <span id="estado_automatizacion"
                          >Automatizacion: Habilitado</span
                        >
                      </div>
                      {% else %}
                      <div class="detail" id="status">
                        <span id="estado_automatizacion"
                          >Automatizacion: Inhabilitada</span
                        >
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <i
                    class="fas fa-plus text-center d-flex align-items-center justify-content-center h-100"
                  ></i>
                </button>
              </div>

              <div
                id="collapse{{ loop.index }}"
                class="collapse"
                aria-labelledby="heading{{ loop.index }}"
                data-parent="#accordion"
              >
                <div class="card-body accordion-body">
                  <div class="table-firewall-data">
                    <div class="firewall-rules-content">
                      <div class="type_content">
                        <button
                          type="button"
                          class="btn btn-primary"
                          id="btn-agree-domain"
                          data-bs-toggle="modal"
                          data-bs-target="#modalDomain"
                          data-regla-id="{{ contenido[1] }}"
                          data-regla-nombre="{{ contenido[2] }}"
                        >
                          <i class="fas fa-plus"></i> Agregar Dominio
                        </button>

                        {% if contenido[3] %}
                        <button
                          type="button"
                          class="btn btn-danger"
                          id="btn-delete-automation"
                          data-bs-toggle="modal"
                          data-bs-target="#confirmarEliminar"
                          data-regla-nombre-accordion="{{ contenido[0] }}"
                          data-regla-id="{{ contenido[1] }}"
                          data-regla-nombre="{{ contenido[2] }}"
                          data-automation-nombre="{{ contenido[4] }}"
                          data-row-index="{{ loop.index }}"
                          data-action-type="deleteAutomation"
                        >
                          <i class="fas fa-robot"></i> Eliminar Automatizacion
                        </button>
                        {% else %}
                        <button
                          type="button"
                          class="btn btn-primary set-automation"
                          id="btn-agree-automation"
                          data-bs-toggle="modal"
                          data-bs-target="#modalAutomation"
                          data-regla-id="{{ contenido[1] }}"
                          data-regla-nombre="{{ contenido[2] }}"
                          data-row-index="{{ loop.index }}"
                        >
                          <i class="fas fa-robot"></i> Establecer Automatizacion
                        </button>
                        {% endif %}

                        <!-- <button
                          type="button"
                          class="btn btn-primary set-automation"
                          id="btn-agree-rule"
                          data-bs-toggle="modal"
                          data-bs-target="#modalAutomation"
                          data-regla-id="{{ contenido[1] }}"
                          data-regla-nombre="{{ contenido[2] }}"
                          data-row-index="{{ loop.index }}"
                        >
                          <i class="fas fa-robot"></i> Establecer Automatizacion
                        </button> -->
                      </div>

                      <table
                        id="tableFirewallContent_{{ loop.index }}"
                        class="table"
                        data-search="true"
                        data-show-columns="false"
                        data-locale="es-ES"
                      >
                        <!-- El encabezado de la tabla -->
                        <caption class="ticket-type"></caption>
                        <thead class="thead-dark">
                          <tr>
                            <th data-field="number" data-sortable="true">
                              N° Regla
                            </th>
                            <th data-field="source" data-sortable="true">
                              Dispositivos Restringidos
                            </th>
                            <th data-field="name">Sitio restringido</th>
                            <th data-field="created_date" data-sortable="true">
                              Fecha de Creacion
                            </th>
                            <th data-field="action" data-sortable="true">
                              Acción del Firewall
                            </th>
                            <th data-field="protocol" data-sortable="true">
                              Protocolo
                            </th>
                            <th data-field="en/dis"></th>
                            <th data-field="delete"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for regla in reglas %}
                          <!-- Filas de la tabla -->
                          <tr>
                            <td class="numero">{{ loop.index }}</td>
                            <td class="source">{{ regla['source'] }}</td>
                            <td class="site-blocked">{{ regla['nombre'] }}</td>
                            <td class="fecha_creacion">
                              {{ regla['fecha_creacion'] }}
                            </td>
                            <td class="accion">{{ regla['accion'] }}</td>
                            <td class="protocolo">{{ regla['protocolo'] }}</td>
                            <td>
                              <button
                                id="btn-regla-{{ regla['id_rule_detail'] }}"
                                class="btn {{ 'btn-success' if regla['estado'] == 1 else 'btn-secondary' }}"
                              >
                                {{ 'Desactivar' if regla['estado'] == 1 else
                                'Activar' }}
                              </button>
                            </td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-danger"
                                id="btn-delete-rule"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmarEliminar"
                                data-regla-detail-id="{{ regla['id_rule_detail'] }}"
                                data-regla-nombre="{{ regla['nombre_regla_contenido'] }}"
                                data-action-type="deleteRule"
                              >
                                Eliminar Regla
                              </button>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
            <!-- Si no hay datos, muestra una tabla vacía o un mensaje indicando que no hay datos -->
            <h2 class="accordion-header" id="flush-heading">
              <span> No hay datos disponibles. </span>
            </h2>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Modal Eliminar Regla -->
      <div
        class="modal fade"
        id="confirmarEliminar"
        tabindex="-1"
        aria-labelledby="confirmacionModalLabel"
        aria-hidden="true"
      >
        <input
          type="hidden"
          name="rule_name"
          id="rule_name"
          value="{{ rule_number }}"
        />
        <input
          type="hidden"
          name="rule_number"
          id="rule_number"
          value="{{ rule_name }}"
        />
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmacionModalLabel">
                Confirmar Eliminación
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Cerrar"
              ></button>
            </div>
            <div class="modal-body">
              <span id="confirmDelete"
                >¿Estás seguro de que deseas eliminar la regla?</span
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button class="btn btn-danger" id="deleteRuleConfirm">
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Crear Regla -->
      <div
        class="modal fade left modalForm"
        id="modalDomain"
        tabindex="-1"
        aria-labelledby="modalReglasLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalReglasLabel">
                Crear Nueva Regla
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-ssh">
                <div class="subtitle">
                  <h2>Regla</h2>
                </div>

                <div class="form-wrap">
                  <form class="form-content" id="formFirewall">
                    <input
                      type="hidden"
                      name="csrf_token"
                      value="{{ csrf_token() }}"
                    />
                    <input
                      type="hidden"
                      id="rule-detail-name"
                      name="name_detail_rule"
                      value="{{ name_detail_rule }}"
                    />
                    <input
                      type="hidden"
                      id="rule_id"
                      name="rule_id"
                      value="{{ rule_id }}"
                    />

                    <div class="top-row">
                      <div class="form-group">
                        <label for="regla">Accion de la regla</label>
                        <select
                          class="selectpicker w-100"
                          name="action_rule"
                          id="selectAction"
                        >
                          <option value="" selected disabled>
                            Seleccionar...
                          </option>
                          <option value="ACCEPT">Permitir</option>
                          <option value="REJECT">Denegar</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="domain">Nombre de Dominio</label>
                        <input
                          class="form-control"
                          name="domain"
                          id="domain"
                          placeholder="example.com"
                        />
                      </div>
                    </div>

                    <div class="top-row">
                      <div class="form-group" id="footerBtn">
                        <button
                          type="button"
                          id="btnCancelar"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button
                          type="submit"
                          id="btnSave"
                          class="btn btn-primary"
                        >
                          Crear Regla
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Crear Automatizacion -->
      <div
        class="modal fade left modalForm"
        id="modalAutomation"
        tabindex="-1"
        aria-labelledby="modalReglasLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalReglasLabel">
                Crear Nueva Regla
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-ssh">
                <div class="subtitle">
                  <h2>Regla</h2>
                </div>

                <div class="form-wrap">
                  <form class="form-content" id="formAutomation">
                    <input
                      type="hidden"
                      name="csrf_token"
                      id="csrf_token"
                      value="{{ csrf_token() }}"
                    />
                    <input
                      type="hidden"
                      id="rule-automation-name"
                      class="name-rule"
                      name="name_detail_rule"
                      value="{{ name_detail_rule }}"
                    />
                    <input
                      type="hidden"
                      id="rule-id-automation"
                      class="id-rule"
                      name="rule_id"
                      value="{{ rule_id }}"
                    />

                    <div class="top-row">
                      <div class="form-group">
                        <label for="comment">Nombre de la Automatizacion</label>
                        <input
                          id="automation-name"
                          class="form-control"
                          name="comment"
                          placeholder="Ingrese el nombre de la automatizacion"
                          oninput="formatoNombre(this)"
                        />
                      </div>

                      <div class="form-group">
                        <label for="regla">Sitios Restringidos</label>
                        <select
                          class="selectpicker w-100"
                          multiple
                          name="regla"
                          id="siteRestriction"
                          aria-label="Seleccione un dominio"
                          data-none-selected-text="Seleccione un dominio"
                          data-live-search="true"
                        >
                          <option value="" hidden selected disabled>
                            Seleccione
                          </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="daypicker"
                          >Dias a aplicar la restriccion</label
                        >
                        <div class="input-group">
                          <input
                            type="text"
                            id="daypicker"
                            class="form-control"
                            readonly
                          />
                          <div class="input-group-append" id="icon-day">
                            <span class="input-group-text">
                              <i class="fa fa-calendar" id="daypickerIcon"></i>
                            </span>
                          </div>
                        </div>
                        <div
                          class="days-popup weekDays-selector"
                          id="daysPopup"
                        >
                          <input
                            type="checkbox"
                            id="weekday-mon"
                            class="weekday"
                          />
                          <label for="weekday-mon">Lunes</label>
                          <input
                            type="checkbox"
                            id="weekday-tue"
                            class="weekday"
                          />
                          <label for="weekday-tue">Martes</label>
                          <input
                            type="checkbox"
                            id="weekday-wed"
                            class="weekday"
                          />
                          <label for="weekday-wed">Miercoles</label>
                          <input
                            type="checkbox"
                            id="weekday-thu"
                            class="weekday"
                          />
                          <label for="weekday-thu">Jueves</label>
                          <input
                            type="checkbox"
                            id="weekday-fri"
                            class="weekday"
                          />
                          <label for="weekday-fri">Viernes</label>
                          <input
                            type="checkbox"
                            id="weekday-sat"
                            class="weekday"
                          />
                          <label for="weekday-sat">Sabado</label>
                          <input
                            type="checkbox"
                            id="weekday-sun"
                            class="weekday"
                          />
                          <label for="weekday-sun">Domingo</label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="timepicker"
                          >Horas y minutos de inicio</label
                        >
                        <div id="timepicker" class="input-group timepicker">
                          <input
                            type="text"
                            class="form-control"
                            id="initial-time"
                            readonly
                          />
                          <div class="input-group-append input-group-addon">
                            <span class="input-group-text">
                              <i class="fa fa-clock" id="timepickerIcon"></i>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="timepicker"
                          >Horas y minutos de finalizacion</label
                        >
                        <div id="timepicker" class="input-group timepicker">
                          <input
                            type="text"
                            class="form-control"
                            id="final-time"
                            readonly
                          />
                          <div class="input-group-append input-group-addon">
                            <span class="input-group-text">
                              <i class="fa fa-clock" id="timepickerIcon"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="top-row">
                      <div class="form-group" id="footerBtn">
                        <button
                          type="button"
                          id="btnCancelar"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button
                          type="submit"
                          id="btn-create-automation"
                          class="btn btn-primary"
                        >
                          Crear Automatizacion
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Toast -->
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
        <div
          id="liveToast"
          class="toast hide"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <img
              src="../static/img/alert_message.png"
              class="rounded me-2"
              alt="..."
            />
            <strong class="me-auto">Campo Requerido</strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body"></div>
        </div>
      </div>

      <!-- Alerts Message -->
      <div class="alert-message-container">
        <div class="alert-box" style="float: none; margin: 0 auto">
          <div class="alert">
            <div class="alert-icon text-center">
              <i class="fas fa-check-circle fa-3x"></i>
            </div>
            <div class="alert-message text-center"></div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    {% include 'includes/js-imports.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Cargar Bootstrap 4 para los componentes específicos -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/rules-content.js') }}"></script>

    {% endblock %}
  </body>
</html>
