<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'includes/styles-imports.html' %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/service-automation.css') }}"
    />
    <title>Automatizacion de firewall</title>
  </head>
  <body>
    {% extends 'navbar.html' %} {% block content %}

    <section class="automation-form-table">
      <div id="loading-overlay">
        <div id="loading-spinner">
          <i class="fas fa-spinner fa-spin"></i>
          <p>Cargando...</p>
        </div>
      </div>

      <div class="title-automation">
        <h1>Automatizacion de firewall</h1>
      </div>
      <div class="container-automation">
        <div class="form-automation">
          <div class="container-ssh">
            <form class="form-content" id="form-automation">
              <input
                type="hidden"
                name="csrf_token"
                id="csrf_token"
                value="{{ csrf_token() }}"
              />

              <div class="top-row">
                <div class="form-group">
                  <label for="automation-name"
                    >Nombre de la automatizacion</label
                  >
                  <input
                    class="form-control"
                    id="automation-name"
                    name="automationName"
                    placeholder="Nombre de la automatizacion"
                  />
                  <!-- oninput="formatoNombreRegla(this)" -->
                </div>

                <div class="form-group" id="community-list">
                  <label for="ip-local">Comunidades</label>
                  <select
                    class="selectpicker"
                    id="community"
                    name="community"
                    aria-label="community"
                    data-none-selected-text="Seleccione una comunidad"
                    data-live-search="true"
                  >
                    <option value="" disabled selected hidden>
                      Seleccione una opción
                    </option>
                    {% for comunidad in comunidades %}
                    <option value="{{ comunidad[0] }}">
                      {{ comunidad[1] }}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label for="ip-local">Servicio a restringir</label>
                  <select
                    class="selectpicker"
                    id="service-type"
                    name="serviceType"
                    aria-label="service"
                    data-none-selected-text="Seleccione un servicio"
                  >
                    <option value="" selected disabled hidden>
                      Seleccionar tipo
                    </option>
                    <option value="mysql">MySQL</option>
                    <option value="ssh">SSH</option>
                    <option value="ftp">FTP</option>
                    <option value="apache">APACHE</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="ip-local">Acciones a tomar</label>
                  <select
                    class="selectpicker w-100"
                    id="action-type"
                    name="actionType"
                    aria-label="action"
                    data-none-selected-text="Seleccione una acción"
                  >
                    <option value="" selected disabled>
                      Seleccionar acción
                    </option>
                    <option value="bloquear y notificar">
                      Bloquear cuando se alcance el umbral y notificar al
                      administrador
                    </option>
                    <option value="alertar y bloquear">
                      Alertar cuando se alcance un umbral y notificar al
                      administrador, y bloquear cuando se alcance otro umbral,
                      también notificando al administrador
                    </option>
                    <option value="solo notificar">
                      Solo notificar al administrador
                    </option>
                  </select>
                </div>
              </div>

              <div class="top-row" id="mysql-container">
                <div class="form-group">
                  <label for="ip-local">Acción a Automatizar</label>
                  <select
                    class="selectpicker w-100"
                    id="restricion-msyql"
                    name="restrictionMysql"
                    aria-label="community"
                    data-none-selected-text="Seleccione una acción"
                  >
                    <option value="" selected disabled>Seleccionar tipo</option>
                    <option value="crear base de datos">
                      Creación de base de datos
                    </option>
                    <option value="eliminar base de datos">
                      Eliminación de base de datos
                    </option>
                    <option value="crear tablas">Creación de tablas</option>
                    <option value="eliminar tablas">
                      Eliminación de tablas
                    </option>
                    <option value="crear registros">
                      Creación de registros
                    </option>
                    <option value="eliminar registros">
                      Eliminación de registros
                    </option>
                    <option value="limitar conexiones">
                      Limitar número de conexiones
                    </option>
                    <option value="restringir acceso a base de datos">
                      Restringir acceso a bases de datos específicas
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="access-type">Limitar conexiones</label>
                  <select
                    class="selectpicker w-100"
                    id="max-connection-type"
                    name="maxConnectionType"
                    aria-label="Seleccione un tipo de acceso"
                    data-none-selected-text="Seleccione un tipo de acceso"
                  >
                    <option value="" selected disabled hidden>
                      Seleccione un tipo de acceso
                    </option>
                    <option value="todos los usuarios">
                      Todos los usuarios
                    </option>
                    <option value="usuarios especificos">
                      Usuario específico
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="max-connections"
                    >Número máximo de conexiones</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="max-connections"
                    name="maxConnections"
                  />
                </div>

                <div class="form-group">
                  <label for="user-name">Nombre del usuario</label>
                  <input
                    type="text"
                    class="form-control"
                    id="user-name"
                    name="userName"
                  />
                </div>

                <div class="form-group">
                  <label for="access-type">Tipo de acceso</label>
                  <select
                    class="selectpicker w-100"
                    id="access-type"
                    name="accessType"
                    aria-label="Seleccione un tipo de acceso"
                    data-none-selected-text="Seleccione un tipo de acceso"
                  >
                    <option value="" selected disabled hidden>
                      Seleccionar tipo de acceso
                    </option>
                    <option value="SELECT">Solo lectura</option>
                    <option value="INSERT">Insertar datos</option>
                    <option value="UPDATE">Actualizar datos</option>
                    <option value="DELETE">Eliminar datos</option>
                    <option value="ALL PRIVILEGES">
                      Todos los privilegios
                    </option>
                    <option value="CREATE">
                      Crear tablas y bases de datos
                    </option>
                    <option value="DROP">
                      Eliminar tablas y bases de datos
                    </option>
                    <option value="ALTER">
                      Modificar estructura de tablas
                    </option>
                    <option value="INDEX">Crear y eliminar índices</option>
                    <option value="EXECUTE">
                      Ejecutar procedimientos almacenados
                    </option>
                    <option value="SHOW VIEW">
                      Ver definiciones de vistas
                    </option>
                    <option value="CREATE VIEW">Crear vistas</option>
                    <option value="TRIGGER">Crear y eliminar triggers</option>
                    <option value="GRANT OPTION">Delegar permisos</option>
                  </select>
                </div>

                <!-- <div class="form-group">
                  <label for="access-type">Bases de datos</label>
                  <select
                    class="selectpicker w-100"
                    id="database-type"
                    name="databaseType"
                    aria-label="Seleccione una base de datos"
                    data-none-selected-text="Seleccione una base de datos"
                  >
                    <option value="" disabled selected hidden>
                      Seleccione una opción
                    </option>
                    <option value="all-databases">
                      Aplicar a todas las bases
                    </option>
                    {% for database in databases %}
                    <option value="{{ database }}">{{ database }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  <label for="access-type">Tablas de la base de datos</label>
                  <select
                    class="selectpicker w-100"
                    id="tables-type"
                    name="tablesType"
                    aria-label="Seleccione una tabla"
                    data-none-selected-text="Seleccione una tabla"
                  >
                    <option value="" selected disabled hidden>
                      Seleccionar tipo de acceso
                    </option>
                  </select>
                </div> -->
              </div>

              <div class="top-row" id="ssh-container">
                <div class="form-group">
                  <label for="ip-local">Accion a Automatizar</label>
                  <select
                    class="selectpicker w-100"
                    id="actionssh-type"
                    name="actionsshType"
                    aria-label="automatizar"
                    data-none-selected-text="Seleccione una accion"
                  >
                    <option value="" selected disabled hidden>
                      Seleccionar tipo
                    </option>
                    <option value="limitar uso de red">
                      Limitar uso de red (MB transferidos)
                    </option>
                    <option value="limitar duracion de la sesion">
                      Limitar duración de la sesión
                    </option>
                    <option value="duracion de procesos">
                      Monitorear y finalizar procesos específicos
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="network-usage">Uso máximo de red (MB)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="network-usage"
                    name="networkUsage"
                    placeholder="p.ej. 10485760"
                  />
                </div>

                <div class="form-group">
                  <label for="session-duration"
                    >Duración máxima de la sesión (minutos)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="session-duration"
                    name="sessionDuration"
                    placeholder="p.ej. 60"
                  />
                </div>

                <!-- <div class="form-group">
                  <label for="ssh-max-duration"
                    >Duración máxima de conexion (minutos)</label
                  >
                  <div class="select-timer">
                    <select
                      class="selectpicker timer"
                      id="hours"
                      aria-label="automatizar"
                      data-none-selected-text="Seleccione una accion"
                    >
                      <option selected disabled>Horas</option>
                    </select>
                    :
                    <select
                      class="selectpicker timer"
                      id="minutes"
                      aria-label="automatizar"
                      data-none-selected-text="Seleccione una accion"
                    >
                      <option selected disabled>Minutos</option>
                    </select>
                    :
                    <select
                      class="selectpicker timer"
                      id="seconds"
                      aria-label="automatizar"
                      data-none-selected-text="Seleccione una accion"
                    >
                      <option selected disabled>Segundos</option>
                    </select>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="ssh-max-duration"
                    name="sshMaxDuration"
                    placeholder="p.ej. 30"
                  />
                </div> -->
              </div>

              <div class="top-row" id="ftp-container">
                <div class="form-group">
                  <label for="ip-local">Acción a Automatizar</label>
                  <select
                    class="selectpicker w-100"
                    id="actionftp-type"
                    name="actionftpType"
                    aria-label="community"
                    data-none-selected-text="Seleccione una acción"
                  >
                    <option value="" selected disabled>Seleccionar tipo</option>
                    <option value="subir archivos">Subida de archivos</option>
                    <option value="descargar archivos">
                      Descarga de archivos
                    </option>
                    <!-- <option value="delete-files">
                      Eliminación de archivos
                    </option> -->
                    <!-- <option value="create-directories">
                      Creación de directorios
                    </option>
                    <option value="delete-directories">
                      Eliminación de directorios
                    </option> 
                    <option value="limit-transfer-size">
                      Limitar tamaño de transferencia
                    </option> -->
                    <option value="transferencia maxima de bytes">
                      Tamaño máximo de transferencia
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="upload-directory">Directorio de subida</label>
                  <input
                    type="text"
                    class="form-control"
                    id="upload-directory"
                    name="uploadDirectory"
                    placeholder="p.ej. /uploads"
                  />
                </div>

                <div class="form-group">
                  <label for="download-directory">Directorio de descarga</label>
                  <input
                    type="text"
                    class="form-control"
                    id="download-directory"
                    name="downloadDirectory"
                    placeholder="p.ej. /downloads"
                  />
                </div>

                <div class="form-group">
                  <label for="file-types"
                    >Tipos de archivos permitidos (separados por comas)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="file-types"
                    name="fileTypes"
                    placeholder="p.ej. jpg, png, pdf"
                  />
                </div>

                <!-- <div class="form-group">
                  <label for="delete-directory"
                    >Directorio de eliminación</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="delete-directory"
                    name="deleteDirectory"
                    placeholder="p.ej. /files"
                  />
                </div> 
                
                <div class="form-group">
                  <label for="directory-path"
                    >Ruta del directorio a crear</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="directory-path"
                    name="directoryPath"
                    placeholder="p.ej. /newdir"
                  />
                </div>

                <div class="form-group">
                  <label for="directory-path"
                    >Ruta del directorio a eliminar</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="directory-path"
                    name="directoryPath"
                    placeholder="p.ej. /olddir"
                  />
                </div> -->

                <div class="form-group">
                  <label for="max-transfer-size"
                    >Tamaño máximo de transferencia (bytes)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="max-transfer-size"
                    name="maxTransferSize"
                    placeholder="p.ej. 10485760"
                  />
                </div>
              </div>

              <div class="top-row" id="apache-container">
                <div class="form-group">
                  <label for="ip-local">Acción a Automatizar</label>
                  <select
                    class="selectpicker w-100"
                    id="actionapache-type"
                    name="actionapacheType"
                    aria-label="community"
                    data-none-selected-text="Seleccione una acción"
                  >
                    <option value="" selected disabled>Seleccionar tipo</option>
                    <option value="habilitar sitio">Habilitar un sitio</option>
                    <option value="deshabilitar sitio">
                      Deshabilitar un sitio
                    </option>
                    <option value="reiniciar servicio">
                      Reiniciar servicio
                    </option>
                    <option value="monitorear logs">Monitorear logs</option>
                    <option value="limitar ancho de banda">
                      Limitar ancho de banda
                    </option>
                    <option value="set-maintenance-mode">
                      Activar modo de mantenimiento
                    </option>
                  </select>
                </div>
              </div>

              <div class="top-row">
                <div class="form-group">
                  <button
                    type="submit"
                    id="btn-create-automation"
                    class="btn btn-primary"
                  >
                    Crear Automatizacion
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="table">
          <div class="subtitle-tables">
            <h2>Automatizaciones establecidas</h2>
          </div>
          <table
            id="automation-table"
            class="table"
            data-locale="es-ES"
            data-show-columns="true"
            data-locale="es-ES"
          >
            <thead>
              <tr>
                <th data-field="number" data-sortable="true">N° Registro</th>
                <th data-field="name" data-sortable="true">
                  Nombre de la Restriccion
                </th>
                <th data-field="type" data-sortable="true">Tipo de Servicio</th>
                <th data-field="restriction" data-sortable="true">
                  Restriccion
                </th>
                <th data-field="type_alert" data-sortable="true">
                  Tipo de Alerta
                </th>
                <th data-field="restriction_data" data-sortable="true">
                  Datos de la restriccion
                </th>
                <th data-field="created_date" data-sortable="true">
                  Fecha de Creacion
                </th>
                <th data-field="community" data-sortable="true">
                  Comunidad restriccion
                </th>
                <th data-field="en/dis"></th>
                <th data-field="delete"></th>
              </tr>
            </thead>
            <tbody>
              {% for automatizacion in automatizaciones %}
              <tr>
                <td class="numero">{{ loop.index }}</td>
                <td class="nombre">{{ automatizacion[1] }}</td>
                <td class="servicio">{{ automatizacion[2] }}</td>
                <td class="restriccion">{{ automatizacion[3] }}</td>
                <td class="tipo_alerta">{{ automatizacion[4] }}</td>
                <td class="datos_restriccion">{{ automatizacion[5] }}</td>
                <td class="fecha_creacion">{{ automatizacion[6] }}</td>
                <td class="comunidad">{{ automatizacion[8] }}</td>
                <td>
                  <button
                    id="btn-automatizacion-{{ automatizacion[0] }}"
                    class="btn {{ 'btn-success' if automatizacion[7] == 1 else 'btn-secondary' }}"
                  >
                    {{ 'Desactivar' if automatizacion[7] == 1 else 'Activar' }}
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    id="btn-delete-automation"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmarEliminar{{ automatizacion[0] }}"
                  >
                    Eliminar Automatizacion
                  </button>

                  <!-- Modal Eliminar Filtro -->
                  <div
                    class="modal fade"
                    id="confirmarEliminar{{ automatizacion[0] }}"
                    tabindex="-1"
                    aria-labelledby="confirmacionModalLabel"
                    aria-hidden="true"
                  >
                    <input
                      type="hidden"
                      name="filter_number"
                      value="{{ automatizacion[0] }}"
                    />
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirmacionModalLabel">
                            Confirmar Eliminación
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Cerrar"
                          ></button>
                        </div>
                        <div class="modal-body">
                          ¿Estás seguro de que deseas eliminar la
                          automatizacion?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>

                          <button
                            class="btn btn-danger"
                            id="delete-automatizacion-{{ automatizacion[0] }}"
                          >
                            Eliminar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Toast -->
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
        <div
          id="liveToast"
          class="toast hide"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <img
              src="../static/img/alert_message.png"
              class="rounded me-2"
              alt="..."
            />
            <strong class="me-auto">Campo Requerido</strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body"></div>
        </div>
      </div>

      <!-- Alerts Message -->
      <div class="alert-message-container">
        <div class="alert-box" style="float: none; margin: 0 auto">
          <div class="alert alert-success">
            <div class="alert-icon text-center">
              <i class="fas fa-check-circle fa-3x text-success"></i>
            </div>
            <div class="alert-message text-center"></div>
          </div>
        </div>
      </div>

      <div class="alert-message-container">
        <div class="alert-box" style="float: none; margin: 0 auto">
          <div class="alert alert-success">
            <div class="alert-icon text-center">
              <i class="fas fa-check-circle fa-3x text-success"></i>
            </div>
            <div class="alert-message text-center">
              {% if request.args.get('response') %} {{
              request.args.get('response') }} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% include 'includes/js-imports.html' %}
    <script src="{{ url_for('static', filename='js/service-automation.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    {% endblock %}
  </body>
</html>
