* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
}

.automation-form-table {
  width: 100%;
  height: 100%;
}

.container-automation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 50px;
}

.title-automation {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

#form-automation {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#automation-table {
  text-align: center;
}

.filter-data {
  max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-container,
.instructions {
  font-size: 14px;
  font-family: sans-serif;
}

.instructions {
  width: 100%;
  text-align: center;
}

.dropdown-button {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-sizing: border-box;
}
.dropdown-button .dropdown-label,
.dropdown-button .dropdown-quantity {
  float: left;
}
.dropdown-button .dropdown-quantity {
  margin-left: 4px;
}
.dropdown-button .fa-filter {
  float: right;
}

.dropdown-list {
  float: left;
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  padding: 10px 12px;
}
.dropdown-list input[type="search"] {
  padding: 5px 0;
}
.dropdown-list ul {
  margin: 10px 0;
}
.dropdown-list ul input[type="checkbox"] {
  position: relative;
  top: 2px;
}

/* Formulario */
.container-form {
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

.button-create {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-form {
  text-align: center;
}

.top-row {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

.subtitle {
  margin-bottom: 35px;
}

.subtitle-tables {
  margin-top: 38px;
}

.form-group > input,
.form-group > .form-select,
.form-group > .selectpicker {
  border: 0.4px solid #000000a8 !important;
}

/* MULTIPLE INPUT */
.bootstrap-tagsinput {
  border-color: #000000a8;
  border-width: 0.4px;
  border-radius: 5px;
  margin: 0;
  width: 233px;
  max-width: 233px;
  padding: 0.5rem 0.75rem 0;
  font-size: 1rem;
  line-height: 1.25;

  .label-info {
    display: inline-block;
    background-color: #1b4764;
    padding: 0 0.4em 0.15em;
    border-radius: 0.25rem;
    margin-bottom: 0.4em;
  }

  input {
    margin-bottom: 0.5em;
  }
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "\00d7";
}

.form-group {
  display: flex;
  flex-direction: column;
}

hr {
  color: blue;
  height: 4px;
  width: 100%;
  margin: 0 auto;
}

/* Multiple Select */
.bootstrap-select .btn {
  width: 233px;
  max-width: 233px;
  border: 0.4px solid #000000a8 !important;
  border-radius: 5px !important;
}

.item-explain-report li {
  padding-bottom: 10px;
}

/* Alerts */
.alert-message-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.alert-box {
  max-width: 300px;
  min-height: 300px;
}

.alert-icon {
  padding-bottom: 20px;
}

/* Style timer and days */
.input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid #34495e;
  }
}

#community-list,
.days-popup {
  display: none;
}

.content {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px 30px 20px;
}

#icon-day {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  &.bottom:before,
  &.bottom:after {
    display: none;
  }
  .datepicker-months tbody tr td,
  .datepicker-years tbody tr td,
  .datepicker-decades tbody tr td {
    padding: 0;
  }

  .datepicker-decades tbody tr td {
    height: 27px;
    line-height: 27px;

    span {
      display: block;
      float: left;
      width: 50%;
      height: 46px;
      line-height: 46px !important;
      padding: 0;
      &:not(.decade) {
        display: none;
      }
    }
  }
  .timepicker-picker table td {
    padding: 0;
    width: 30%;
    height: 20px;
    line-height: 20px;
    &:nth-child(2) {
      width: 10%;
    }
    a,
    span,
    button {
      border: none;
      border-radius: 0;
      height: 56px;
      line-height: 56px;
      padding: 0;
      width: 100%;
    }
    span {
      color: #333;
      margin-top: -1px;
    }
    button {
      background-color: #fff;
      color: #333;
      font-weight: bold;
      font-size: 1.2em;
      &:hover {
        background-color: #eee;
      }
    }
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
  a,
  span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    width: 100%;
  }
}
.todayText:before {
  content: "Today's Date";
}

.floating-input {
  position: absolute;
  display: none;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Checkbox days */
.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 100px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

#daysPopup {
  max-width: 330px;
  flex-wrap: wrap;
  justify-content: center;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #2ad705;
  color: #ffffff;
}

@media (max-width: 875px) {
  .top-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 23px;
  }

  #filterOperatorIpMac {
    gap: 18px;
  }
}
