@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #000000;
}
.navbar-mainbg {
  background-color: #cdced6;
  padding: 0px;
}
#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.menu-items {
  margin-left: 20px;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(32, 0, 0, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent ul li a:hover {
  font-weight: 700;
}
#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
  font-weight: 700;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cdced6;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

.info-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.notification {
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  box-shadow: 1px 1px 33px 0px rgba(0, 0, 0, 0.37);
  transition: 1s;
}

/* Menu notificaciones */

.panel {
  position: absolute;
  border-radius: 0.5vmin;
  width: 50vmin;
  height: 46vmin;
  margin-top: 15vmin;
  padding-top: 2vmin;
  max-height: 0;
  transition: all 0.5s ease 0s;
  filter: drop-shadow(2vmin 2vmin 1vmin #0008);
}

input#btn,
input#uro {
  position: absolute;
  z-index: -3;
  opacity: 0;
}

.panel ul:before {
  content: "";
  position: absolute;
  border: 2vmin solid #fff0;
  border-bottom-color: var(--on);
  left: calc(50% - 2vmin);
  top: calc(0vmin + 2px);
  transition: all 0.5s ease 0s;
}

#btn:checked + label[for="btn"] + .panel {
  max-height: 46vmin;
  margin-top: 10vmin;
}

#btn:checked + label[for="btn"] + .panel ul:before {
  top: calc(-2vmin + 2px);
}

.panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background: var(--on);
  border-radius: 0 0 0.5vmin 0.5vmin;
  overflow: hidden;
}

.panel ul li {
  width: 100%;
  height: 10vmin;
  color: var(--dark);
  border-bottom: 1px solid var(--dark);
  padding: 1.75vmin 1.25vmin;
  box-sizing: border-box;
  font-size: 2.25vmin;
  position: relative;
}

.panel ul li:last-child {
  border-bottom: 0;
}

.panel ul li img {
  border-radius: 100%;
  margin-right: 2vmin;
  float: left;
  width: 6vmin;
  height: 6vmin;
}

.panel ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link);
}

.panel ul li.read img {
  filter: sepia(1) hue-rotate(150deg) contrast(0.75) brightness(0.65)
    saturate(0.75);
}

.panel ul li.unread {
  --link: #3eb0e3;
}

.panel ul li strong {
  color: var(--strong);
}
.panel ul li.unread strong {
  --strong: #216a8d;
}

.panel ul li:after {
  content: "";
  position: absolute;
  right: 1vmin;
  top: 1vmin;
  width: 5px;
  height: 5px;
  border: 1px solid #3eb0e3;
  border-radius: 100%;
}
.panel ul li.read:after {
  border-color: var(--dark);
}

.unread-only {
  width: 100%;
  height: 6vmin;
  background: var(--on);
  border-radius: 0.5vmin 0.5vmin 0 0;
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
  font-size: 2vmin;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1vmin;
  padding: 0 2vmin;
  box-sizing: border-box;
}

.unread-only:before {
  content: "NOTIFICATIONS";
  left: -3vmin;
  font-size: 2.5vmin;
  position: relative;
  color: var(--off);
  font-weight: 600;
}

.unread-only label {
  background: var(--dark);
  width: 4vmin;
  height: 2vmin;
  border-radius: 2vmin;
}

label[for="uro"]:before {
  content: "";
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background: #e7e7e7;
  border-radius: 100%;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  right: 4vmin;
  border: 0.2vmin solid #0001;
  margin-top: -0.1vmin;
}

input#uro:checked ~ .panel label[for="uro"]:before {
  background: #3eb0e3;
  right: 2vmin;
}

input#uro:checked ~ .panel .unread-only {
  color: var(--link);
}

input#uro:checked ~ .panel ul li.read {
  display: none;
}

.collapse > .info-actions .btn {
  margin-left: 25px !important;
  margin-right: 45px !important;
  border-color: #181818;
  z-index: 2;
}

.collapse > .info-actions .btn:hover {
  font-weight: 700;
  background-color: #fff;
  border-color: #181818;
}

.collapse > .info-actions .btn > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 15px;
  display: block;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  .collapse > .info-actions .btn {
    margin-top: 15px !important;
  }
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }

  #navbarSupportedContent {
    padding-bottom: 10px;
  }
}
