* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
}

body.no-scroll {
  overflow: hidden;
}

.servervpn {
  width: 100%;
  height: 100%;
}

/* Ventana de carga */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de todo */
}

#loading-spinner {
  text-align: center;
  color: #fff;
}

#loading-spinner .fa-spinner {
  font-size: 3em;
  margin-bottom: 10px;
}

.container-servervpn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-servervpn {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

#form-servervpn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#servervpn-table {
  text-align: center;
}

.filter-data {
  max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-container,
.instructions {
  font-size: 14px;
  font-family: sans-serif;
}

.instructions {
  width: 100%;
  text-align: center;
}

.dropdown-button {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-sizing: border-box;
}
.dropdown-button .dropdown-label,
.dropdown-button .dropdown-quantity {
  float: left;
}
.dropdown-button .dropdown-quantity {
  margin-left: 4px;
}
.dropdown-button .fa-filter {
  float: right;
}

.dropdown-list {
  float: left;
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  padding: 10px 12px;
}
.dropdown-list input[type="search"] {
  padding: 5px 0;
}
.dropdown-list ul {
  margin: 10px 0;
}
.dropdown-list ul input[type="checkbox"] {
  position: relative;
  top: 2px;
}

/* Formulario */
.container-form {
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

.button-create {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-form {
  text-align: center;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

.subtitle {
  margin-bottom: 35px;
}

.subtitle-tables {
  margin-top: 38px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group > input,
.form-group > .form-select,
.form-group > .selectpicker {
  border: 0.4px solid #000000a8 !important;
}

.form-group {
  display: flex;
  flex-direction: column;
}

hr {
  color: blue;
  height: 4px;
  width: 100%;
  margin: 0 auto;
}

/* Multiple Select */
.bootstrap-select .btn {
  width: 233px;
  max-width: 233px;
  border: 0.4px solid #000000a8 !important;
  border-radius: 5px !important;
}

.item-explain-report li {
  padding-bottom: 10px;
}

/* Alerts */
.alert-message-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.alert-box {
  max-width: 300px;
  min-height: 300px;
}

.alert-icon {
  padding-bottom: 20px;
}

/* Style timer and days */
.input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid #34495e;
  }
}

#community-list,
.days-popup {
  display: none;
}

.content {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px 30px 20px;
}

#icon-day {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  &.bottom:before,
  &.bottom:after {
    display: none;
  }
  .datepicker-months tbody tr td,
  .datepicker-years tbody tr td,
  .datepicker-decades tbody tr td {
    padding: 0;
  }

  .datepicker-decades tbody tr td {
    height: 27px;
    line-height: 27px;

    span {
      display: block;
      float: left;
      width: 50%;
      height: 46px;
      line-height: 46px !important;
      padding: 0;
      &:not(.decade) {
        display: none;
      }
    }
  }
  .timepicker-picker table td {
    padding: 0;
    width: 30%;
    height: 20px;
    line-height: 20px;
    &:nth-child(2) {
      width: 10%;
    }
    a,
    span,
    button {
      border: none;
      border-radius: 0;
      height: 56px;
      line-height: 56px;
      padding: 0;
      width: 100%;
    }
    span {
      color: #333;
      margin-top: -1px;
    }
    button {
      background-color: #fff;
      color: #333;
      font-weight: bold;
      font-size: 1.2em;
      &:hover {
        background-color: #eee;
      }
    }
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
  a,
  span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    width: 100%;
  }
}
.todayText:before {
  content: "Today's Date";
}

.floating-input {
  position: absolute;
  display: none;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Accordion */

#accordion {
  .card-header {
    margin-bottom: 8px;
  }
  .accordion-title {
    position: relative;
    display: flex; /* Cambiado a flex para permitir el uso de flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 8px 0; /* Ajusta el relleno superior e inferior */
    padding-left: 30px;
    background: #213744;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    transition: all 0.4s ease-in-out;
  }

  .accordion-title i {
    margin-left: auto; /* Mueve el ícono al lado derecho */
    margin-right: 10px; /* Ajusta el espacio entre el texto y el ícono */
    width: 40px;
    height: 100%;
    color: #fff;
    background: radial-gradient(
      rgba(33, 55, 68, 0.8),
      #213744
    ); /* Corregido el color */
    text-align: center;
    border-right: 1px solid transparent;
  }

  .accordion-title:hover {
    padding-left: 40px;
    background: #213744;
    color: #fff;
  }

  .accordion-title[aria-expanded="true"] {
    background: #24b365;
    color: #000;
  }

  .accordion-title[aria-expanded="true"] i {
    color: #000;
    background: #24b365;
  }

  .accordion-title[aria-expanded="true"] i:before {
    content: "\f068";
  }

  .accordion-body {
    padding: 40px 55px;
  }
}

.vpn {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.vpn-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

#credentials,
#status {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#status {
  margin-right: 50px;
}

@media (max-width: 875px) {
  .top-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 23px;
  }

  #filterOperatorIpMac {
    gap: 18px;
  }
}
